:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #57bc79;
  --color-secondary: #196d23;
  --color-dark: #0b4719;
  --color-bg: #043211;

  /* Fonts */
  --font-roboto: "Roboto";
}
